$font-family-sans-serif: // Cross-platform generic font family (default user interface font)
  "Noto Sans TC",
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// // variable
// $primary: #392a93;
// $secondary: #9086cc;
// $third: #a9d3ff;
// $forth: #da7e5f;

$body-emphasis-color: #392A93;

// swiper pagination
// $swiper-pagination-color: var($swiper-theme-color);
// $swiper-pagination-left: auto;
// $swiper-pagination-right: 8px;
// $swiper-pagination-bottom: 8px;
// $swiper-pagination-top: auto;
// $swiper-pagination-fraction-color: inherit;
// $swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
// $swiper-pagination-progressbar-size: 4px;
// $swiper-pagination-bullet-size: 8px;
// $swiper-pagination-bullet-width: 8px;
// $swiper-pagination-bullet-height: 8px;
// $swiper-pagination-bullet-inactive-color: #000;
// $swiper-pagination-bullet-inactive-opacity: 0.2;
// $swiper-pagination-bullet-opacity: 1;
// $swiper-pagination-bullet-horizontal-gap: 4px;
// $swiper-pagination-bullet-vertical-gap: 6px;

// --bs-success-rgb:
$success: #9086cc;
$theme-colors: (
  // "primary":    $primary,
  // "secondary":  $secondary,
  "success": $success,
  // "info":       $info,
  // "warning":    $warning,
  // "danger":     $danger,
  // "light":      $light,
  // "dark":       $dark
);

$color-contrast-light: #221476;



// $nav-tabs-border-color: #392A93;
// $nav-tabs-border-width: var(--#{$prefix}border-width) !default;
// $nav-tabs-border-radius: var(--#{$prefix}border-radius) !default;
// $nav-tabs-link-hover-border-color: #392A93;
$nav-tabs-link-active-color: #392A93;
// $nav-tabs-link-active-bg: #392A93;
$nav-tabs-link-active-border-color: transparent;