// css reset
@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
// bootstrap grid
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

// 變數


// layout

.question {
  margin-bottom: 50px;
}

.counter {
  width: 230px;
  height: 130px;
  border: 2px solid black;
  background-color: cornflowerblue;
}