// css reset
@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
// bootstrap grid
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

// 變數


// 設定

// layout
body {
  margin: 20px 50px;
}

.question {
  margin-bottom: 50px;
}

.counter {
  width: 230px;
  height: 95px;
  border: 2px solid black;
  background-color: cornflowerblue;

  input {
    width: 100%;
    outline: none;
  }

  .btn-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      margin: 10px 5px;
    }
  }
}