// css reset
@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
// bootstrap grid
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

// 變數


// 設定

// layout
body {
  margin: 20px 50px;
}

.question {
  margin-bottom: 50px;
}

.counter {
  width: 230px;
  height: 130px;
  border: 2px solid black;
  background-color: cornflowerblue;
}

.counter-present {
  display: flex;
}

.input-area {
  display: flex;
  background-color: white;

  input {
    width: 77%;
    border: none;
  }

  button {
    border: none;
  }
}